<header>
  <nav>
    <a href="/">トップページ</a>
    <a href="/users/<%= userId = 1 %>">ユーザ詳細</a>
    <a href="/users %>">ユーザ一覧</a>
    <a href="/accounts/settings">ユーザ設定</a>
    <a href="/logout">ログアウト</a>
  </nav>
</header>